@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f7f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 80%;
  max-width: 800px;
}

.rooms-container {
  display: flex;
  gap: 2rem;
}

.room {
  background-color: rgb(52, 52, 52);
  color: white;
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #56A3A6;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.header2 {
  color: white;
  text-align: center;
  font-size: 26px;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-weight: bold;
  text-align: center;
}

.input {
  padding: 0.5rem;
  border: 1px solid #CAD49D;
  border-radius: 5px;
  font-size: 14px;
}

.button2 {
  background-color: #56A3A6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: #6fd8db;
}

.meetings-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.meetings-list li {
  padding: 0.5rem;
  background-color: #484538;
  color: white;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert {
  background-color: #FF8888;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}


/* ... Previous styles ... */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #484538;
  color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
  font-weight: bold;
  color: white;
}

.input {
  padding: 0.5rem;
  border: 1px solid #CAD49D;
  border-radius: 5px;
  font-size: 14px;
  background-color: #484538;
  color: white;
}

.button {
  background-color: #56A3A6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #484538;
}

/* ... Remaining styles ... */
